<div class="form-group" ng-class="{ 'has-error': formData.errors[key] }">
  <label for="{{ inputId }}" class="control-label col-sm-3">{{ label }}</label>
  <div class="col-sm-9">
    <!-- TODO: include "min" only when type is "number". -->
    <input class="form-control" id="{{ inputId }}"
           ng-change="handleChange(key)" ng-model="formData.input[key]"
           placeholder="{{ placeholder }}" type="{{ inputType }}" min="{{ inputMin }}"/>
  </div>
  <p class="help-block col-sm-offset-3 col-sm-9" ng-hide="!formData.errors[key]">
    {{ formData.errors[key] }}
  </p>
</div>
