<!--
Using .form-horizontal makes .form-group behave as a row, so
there is no need to use .row.

We suppress HTML5 client-side input validation using "novalidate."
This lets us include our own error messages for visual consistency, etc.
-->
<form class="form-horizontal" role="form" novalidate>
  <fieldset>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        Fill in the below to generate your sample.
      </div>
    </div>

    <smp-form-input form-data="form"  input-id="'id_seed'"
                input-min="" input-type="'text'" key="'seed'"
                label="'Random Seed'" placeholder="'Any numbers or characters'">
    </smp-form-input>

    <smp-form-input form-data="form" input-id="'id_total_count'"
                input-min="'1'" input-type="'number'" key="'totalCount'"
                label="'Total Items'" placeholder="'Total number of items'">
    </smp-form-input>

    <smp-form-input form-data="form"  input-id="'id_sample_count'"
                input-min="'1'" input-type="'number'" key="'sampleCount'"
                label="'Sample Count'" placeholder="'Number of items to select'">
    </smp-form-input>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button type='submit' class="btn"
                ng-class="form.showing ? 'btn-success' : 'btn-primary'"
                ng-disabled="form.showing"
                ng-click="form.submit()">{{ form.showing ? 'Done!' : 'Show Sample' }}</button>
      </div>
    </div>
  </fieldset>
</form>

<div class="row">

<div class="col-sm-offset-3 col-sm-3">
  <h2>Raw</h2>
  <ol>
    <li ng-repeat="item in output.allItems track by $index">{{ item }}</li>
  </ol>
</div>
<div class="col-sm-3">
  <h2>Unique</h2>
    <ol>
      <li ng-repeat="item in output.uniqueItems">{{ item }}</li>
    </ol>
</div>
<div class="col-sm-3">
  <h2>Sorted</h2>
    <ol>
      <li ng-repeat="item in output.sortedItems">{{ item }}</li>
    </ol>
</div>

</div>
