<!--
Using .form-horizontal makes .form-group behave as a row, so
there is no need to use .row.

We suppress HTML5 client-side input validation using "novalidate."
This lets us include our own error messages for visual consistency, etc.
-->
<form class="form-horizontal" role="form" novalidate>
  <fieldset>

    <div class="form-group">
      <label for="id_total_count" class="control-label col-sm-3">Total Count</label>
      <!-- We need to include input tags in a containing div. -->
      <div class="col-sm-9">
        <input type="number" class="form-control" id="id_total_count" ng-model="input.totalCount" min="1" placeholder="Total number of items">
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error': errors.seed }">
      <label for="id_seed" class="control-label col-sm-3">Seed</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="id_seed" ng-model="input.seed" placeholder="Random seed (any numbers or characters)">
      </div>
      <p class="help-block col-sm-offset-3 col-sm-9" ng-hide="!errors.seed">
        {{ errors.seed }}
      </p>
    </div>

    <div class="form-group">
      <label for="id_sample_count" class="control-label col-sm-3">Sample Count</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" id="id_sample_count" ng-model="input.sampleCount" min="1" placeholder="Number of items to select">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button type='submit' class="btn btn-primary" ng-click="showResults()">Show Results</button>
      </div>
    </div>
  </fieldset>
</form>

<div class="row">

<div class="col-sm-offset-3 col-sm-3">
  <h2>Raw</h2>
  <ol>
    <li ng-repeat="item in allItems track by $index">{{ item }}</li>
  </ol>
</div>
<div class="col-sm-3">
  <h2>Unique</h2>
    <ol>
      <li ng-repeat="item in uniqueItems">{{ item }}</li>
    </ol>
</div>
<div class="col-sm-3">
  <h2>Sorted</h2>
    <ol>
      <li ng-repeat="item in sortedItems">{{ item }}</li>
    </ol>
</div>

</div>
